<a routerLink="request" *ngIf="isVerified == true" >POST NEW REQUEST</a><br>
<a routerLink="myrequests" *ngIf="isVerified == true" >MY REQUESTS</a>  <br><br>

<a routerLink='filter'>FILTER REQUESTs</a><br><br>
   
<div *ngFor="let message of messages | async">
    Date Posted: {{message.timestamp | date:"MM/dd/yy hh:mm a" }} <br>
    Game:  {{message.gameReq}} <br>
    Platform:  {{message.platformReq}} <br>
    Type of Team:  {{message.typesReq}} <br>
    Match or Event:  {{message.matchReq}} <br>
    Start Time:  {{message.starttimeReq}} <br>
    Duration:  {{message.hoursReq}}Hour(s) and {{message.minReq}} <br>
    Description:  {{message.messageReq}} <br>
    <p *ngIf="isVerified == true">Contact:  {{message.userEmail}}</p>
</div>
