<h3>World of Warcraft</h3>
<div *ngFor="let game of games | async">
    <p *ngIf="(game.name)=='World of Warcraft'"> {{game.more}}</p>
</div>


<div *ngIf="isVerified == true">
<div  *ngFor="let players of players | async">
<h4>Player Ids on PC: {{players.useridPC}}</h4>
</div></div>
    
<hr>    
<a routerLink="/games">Go BACK TO GAMES</a>