<form class="form-signin" (submit)="loginWithEmail($event, email.value, password.value)">
  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="text"
      class="form-control"
      #email
      placeholder="Enter your email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      #password
      placeholder="Enter your password">
  </div>
  <button
    type="submit"
    class="btn btn-default"
    type="submit">
      Log In
  </button>
</form>
   <a routerLink="../register"><button
    type="button"
    class="btn btn-default"
    type="submit">
      Sign Up
  </button></a>
  <button
    type="button"
    class="login loginmodal-submit"
    (click)="loginWithGoogle()">
      Log In with Google
  </button>
  

    <label for="name">Email to Reset Password</label>
    <input
      type="text"
      class="form-control"
      #emailr
      placeholder="Enter your email">
  <button
    type="button"
    class="btn btn-default"
    (click)="resetPassword(emailr.value)">
      Reset 
  </button>
