<a routerLink="/games">Go BACK TO GAMES</a>
<br><br>
<label>Filter Request by Game:</label>
        <select #fgame>
                    <option value="select">select</option>
                    <option value="Destiny">Destiny</option>
                    <option value="Diablo">Diablo 3</option>
                    <option value="Left4Dead2">Left 4 Dead 2</option>
                    <option value="Wow">World of Warcraft</option>
        </select>
<button (click)="filtergame(fgame.value)">Filter by Game Now</button>


<br><br>
<label>Filter Request by Platform: </label>
            <select #fplatform>
                    <option value="select">select</option>
                    <option value="PS3">PS3</option>
                    <option value="PC">PC</option>
                    <option value="Xbox">Xbox</option>
                    <option value="XB1">XB1</option>
                    <option value="PS4">PS4</option>
            </select>
<button (click)="filterplatform(fplatform.value)">Filter by Platform Now</button>

<br><br>
<p *ngIf="isVerified == true">
<label>Fileter Request by Preferred Date and Time: </label>
          <input class="form-control" type="datetime-local" #ftime><br>
<button (click)="filtertime(ftime.value)">Filter by Date/Time Now</button></p>

<br><br>
<label>Combined Filter: </label>
        <label> Game: </label>
        <select #cgame>
                    <option value="select">select</option>
                    <option value="Destiny">Destiny</option>
                    <option value="Diablo">Diablo 3</option>
                    <option value="Left4Dead2">Left 4 Dead 2</option>
                    <option value="Wow">World of Warcraft</option>
        </select>
        <label> Platform: </label>
            <select #cplatform>
                    <option value="select">select</option>
                    <option value="PS3">PS3</option>
                    <option value="PC">PC</option>
                    <option value="Xbox">Xbox</option>
                    <option value="XB1">XB1</option>
                    <option value="PS4">PS4</option>
        </select>
<button (click)="combofilter(cgame.value, cplatform.value)">Filter Now</button>


<h4> Filtered Results </h4>
<div *ngFor="let frequest of frequests | async">
    Date Posted: {{frequest.timestamp | date:"MM/dd/yy hh:mm a" }} <br>
    Game:  {{frequest.gameReq}} <br>
    Platform:  {{frequest.platformReq}} <br>
    Type of Team:  {{frequest.typesReq}} <br>
    Match or Event:  {{frequest.matchReq}} <br>
    Start Time:  {{frequest.starttimeReq}} <br>
    Duration:  {{frequest.hoursReq}}Hour(s) and {{frequest.minReq}} <br>
    Description:  {{frequest.messageReq}} <br>
</div>

