<br><br><hr><br><br>

<label for="name">Paste the Key of Post to Remove</label>
    <input
      type="text"
      class="form-control"
      #postkey
      placeholder="post key">
  <button
    type="button"
    class="btn btn-default"
    (click)="deletePost(postkey.value)">
      Delete
  </button>
  

  
<br><br>  

<form (submit)="sendMessage(repostkey.value, games.value, platforms.value, type.value, match.value, starttime.value, hours.value, min.value, newmessage.value, loginService.email )">
   <label for="name">Paste the Key of Post to Repost the Post</label>
    <input
      type="text"
      class="form-control"
      #repostkey
      placeholder="post key"><br>
   Select Game:
         <select class="form-control" #games >
              <option>Destiny</option>
              <option>Diablo 3</option>
              <option>Left 4 Dead 2</option>
              <option>World of Warcraft</option>
        </select><br>
    Select Platform:
         <select class="form-control" #platforms >
              <option>PC</option>
              <option>PS3</option>
              <option>PS4</option>
              <option>XBOX</option>
              <option>XB1</option>
        </select><br>
   Type of Team:
         <select class="form-control" #type >
              <option>One-Time</option>
              <option>Official</option>
        </select><br>
   Match or Event:
         <select class="form-control" #match >
              <option>Match</option>
              <option>Event</option>
        </select><br>
    Start Date and Time: 
          <input class="form-control" type="datetime-local" #starttime><br>
    Duration:
        <input class="form-control" type=numbers #hours>Hour(s) and <input class="form-control" type=numbers #min>Minute(s)<br>
    Description: 
        <input class="form-control" type="textarea" #newmessage placeholder="Please enter your contact information and a short description of your requirements"><br>

        <button type="submit">Re-Post!</button>
    </form>
    

<div *ngFor="let pastRequest of pastRequests | async">
    Date Posted: {{pastRequest.timestamp | date:"MM/dd/yy hh:mm a" }} <br>
    Game:  {{pastRequest.gameReq}} <br>
    Platform:  {{pastRequest.platformReq}} <br>
    Type of Team:  {{pastRequest.typesReq}} <br>
    Match or Event:  {{pastRequest.matchReq}} <br>
    Start Time:  {{pastRequest.starttimeReq}} <br>
    Duration:  {{pastRequest.hoursReq}}Hour(s) and {{pastRequest.minReq}} <br>
    Description:  {{pastRequest.messageReq}} <br><br>
    Key: {{pastRequest.$key}}<br>
    
</div>
