<h3>DIABLO 3</h3>
<div *ngFor="let game of games | async">
    <p *ngIf="(game.name)=='Diablo 3'"> {{game.more}}</p>
</div>

<div *ngIf="isVerified == true">
<div  *ngFor="let players of players | async">
<h4>Player Ids on PS3: {{players.useridPS3}}</h4>
<h4>Player Ids on PS4: {{players.useridPS4}}</h4>
<h4>Player Ids on XBOX: {{players.useridXBox}}</h4>
<h4>Player Ids on XB1: {{players.useridXB1}}</h4>
</div></div>

<button *ngIf="isGame == false" (click)="AddGame()"> Add Game</button>
<hr>

<a routerLink="/games">Go BACK TO GAMES</a>
