<app-head></app-head>
<nav>
<a routerLink="" >HOME</a><br/>
<a routerLink="games" >AVAILABLE GAMES</a><br/>
<a routerLink="lfg" >LOOK FOR GROUP</a><br/>
<a routerLink="login" *ngIf="isLoggedIn == false">LOGIN</a><br/>
<div *ngIf="isLoggedIn == true" >
<button (click)="logout()">Logout</button><br/>
<h3>Welcome {{loginService.displayName}}</h3>
<p *ngIf="isVerified == false">Please verify email</p>
<a routerLink="profile" *ngIf="isVerified == true" >PROFILE</a><br/>
</div>

</nav>
<router-outlet></router-outlet>
