<h3>Left 4 Dead 2</h3>
<div *ngFor="let game of games | async">
    <p *ngIf="(game.name)=='Left 4 Dead 2'"> {{game.more}}</p>
</div>


<div *ngIf="isVerified == true">
<div  *ngFor="let players of players | async">
<h4>Player Ids on PC: {{players.useridPC}}</h4>
<h4>Player Ids on XBOX: {{players.useridXBox}}</h4>
</div></div>

<div><hr>
<a routerLink="/games">Go BACK TO GAMES</a>