<h1>Avaliable Games</h1>
<div>
  <div *ngFor="let game of games | async">
    <img src="{{game.image}}" >
    <h5>Platforms: {{game.Platforms}}</h5>
    <h5>Characters: {{game.characters}} </h5>
    <h5 *ngIf="(game.name)=='Destiny'">Currently {{destinyCnt.length}} Player(s) </h5>
    <h5 *ngIf="(game.name)=='Diablo 3'">Currently {{diablo3Cnt.length}} Player(s)</h5>
    <h5 *ngIf="(game.name)=='Left 4 Dead 2'">Currently {{left4dead2Cnt.length}} Player(s)</h5>
    <h5 *ngIf="(game.name)=='World of Warcraft'">Currently {{worldofwarcraftCnt.length}} Player(s)</h5>
    
    <a *ngIf="(game.name)=='Destiny'" routerLink="destiny">Show More<br><hr><br></a>
    <a *ngIf="(game.name)=='Diablo 3'" routerLink="diablo3">Show More<br><hr><br></a>
    <a *ngIf="(game.name)=='Left 4 Dead 2'" routerLink="left4dead2">Show More<br><hr><br></a>
    <a *ngIf="(game.name)=='World of Warcraft'" routerLink="worldofwarcraft">Show More<br><hr><br></a>

  </div>
</div>

