 <p>Profile Picture</p>
  <form ngNoForm>
    <input id="file" name="file" type="file" >
    <button (click)="upload()" type="button">Upload Image</button>
    </form>
    <button (click)="noImg()" type="button">Use Default Image</button>
    <img *ngIf="isImg == false" src="https://firebasestorage.googleapis.com/v0/b/teamfinder-1fdd3.appspot.com/o/user1.png?alt=media&token=5d12a41c-424f-45fa-bb76-b6e090c868d1" >
    <img *ngIf="isImg == true" src="{{imgUrl}}">
    
<hr>

<label for="age">Age</label>
    <input type="text" #age
      placeholder="Enter your Age"><br>
<hr>

        <div class="form-group">
            <label for="playlists">Add Game to Playlist :</label>
            <div *ngFor="let playlist of playlists; let i = index">
                <label>
                    <input type="checkbox"
                           name="playlist"
                           value="{{playlist}}"
                           [checked]="playlists.indexOf(playlist) >= 0"
                           (change)="UpdatePlaylist(playlist,playlistStus,$event)"/>
                    {{playlist}}
                    
                </label>
            </div>
        </div>
<hr>
<label for="idpc">Player Id for PC</label>
    <input type="text" #idpc
      placeholder="Enter your Id"><br>

<label for="idps3">Player Id for PS3</label>
    <input type="text" #idps3
      placeholder="Enter your Id"><br>

<label for="idps4">Player Id for PS4</label>
    <input type="text" #idps4
      placeholder="Enter your Id"><br>

<label for="idxbox">Player Id for XBOX</label>
    <input type="text" #idxbox
      placeholder="Enter your Id"><br>

<label for="idxb1">Player Id for XB1</label>
    <input type="text" #idxb1
      placeholder="Enter your Id"><br>
      
<hr>
    
    
        <div class="form-group">
            <label for="playtimes">playtimes (weekdays) :</label>
            <div *ngFor="let playtime of playtimes; let i = index">
                <label>
                    <input type="checkbox"
                           name="playtimes"
                           value="{{playtime}}"
                           [checked]="playtimes.indexOf(playtime) >= 0"
                           (change)="updateCheckedPlaytimesWeekdays(playtime,playtimeWeekdays, $event)"/>
                    {{playtime}}
                    
                </label>
            </div>
            
        </div>
        

        <div class="form-group">
            <label for="playtimes">playtimes (weekends) :</label>
            <div *ngFor="let playtime of playtimes; let i = index">
                <label>
                    <input type="checkbox"
                           name="playtimes"
                           value="{{playtime}}"
                           [checked]="playtimes.indexOf(playtime) >= 0"
                           (change)="updateCheckedPlaytimesWeekdays(playtime,playtimeWeekends, $event)"/>
                    {{playtime}}
                    
                </label>
            </div>
        </div>
    
        <div class="form-group">
            <label for="timezones">timezones (weekdays) :</label>
            <div *ngFor="let timezone of timezones; let i = index">
                <label>
                    <input type="checkbox"
                           name="timezones"
                           value="{{timezone}}"
                           [checked]="timezones.indexOf(timezone) >= 0"
                           (change)="TimezoneWeekdays(timezone,timezoneWeekdays,$event)"/>
                    {{timezone}}
                    
                </label>
            </div>
        </div>
    
        <div class="form-group">
            <label for="timezones">timezones (weekends) :</label>
            <div *ngFor="let timezone of timezones; let i = index">
                <label>
                    <input type="checkbox"
                           name="timezones"
                           value="{{timezone}}"
                           [checked]="timezones.indexOf(timezone) >= 0"
                           (change)="TimezoneWeekends(timezone,timezoneWeekends,$event)"/>
                    {{timezone}}
                    
                </label>
            </div>
        </div>
        
        <hr>
    
    
        <div class="form-group">
            <label for="microphones">Select if Mic is Available per Platform:</label>
            <div *ngFor="let microphone of microphones; let i = index">
                <label>
                    <input type="checkbox"
                           name="microphones"
                           value="{{microphone}}"
                           [checked]="microphones.indexOf(microphone) >= 0"
                           (change)="MicrophoneStus(microphone,microphoneStus,$event)"/>
                    {{microphone}}
                    
                </label>
            </div>
        </div>
    <hr>    
    
        <div class="form-group">
            <label for="pcgames">Select games you are playing on PC :</label>
            <div *ngFor="let pcgame of pcgames; let i = index">
                <label>
                    <input type="checkbox"
                           name="pcgames"
                           value="{{pcgame}}"
                           [checked]="pcgames.indexOf(pcgame) >= 0"
                           (change)="PcgameStus(pcgame,pcgameStus,$event)"/>
                    {{pcgame}}
                    
                </label>
            </div>
        </div>
    
        <div class="form-group">
            <label for="ps3games">Select games you are playing on PS3 :</label>
            <div *ngFor="let ps3game of ps3games; let i = index">
                <label>
                    <input type="checkbox"
                           name="ps3games"
                           value="{{ps3game}}"
                           [checked]="ps3games.indexOf(ps3game) >= 0"
                           (change)="Ps3gameStus(ps3game,ps3gameStus,$event)"/>
                    {{ps3game}}
                    
                </label>
            </div>
        </div>
    
        <div class="form-group">
            <label for="ps4games">Select games you are playing on PS4 :</label>
            <div *ngFor="let ps4game of ps4games; let i = index">
                <label>
                    <input type="checkbox"
                           name="ps4games"
                           value="{{ps4game}}"
                           [checked]="ps4games.indexOf(ps4game) >= 0"
                           (change)="Ps3gameStus(ps4game,ps4gameStus,$event)"/>
                    {{ps4game}}
                    
                </label>
            </div>
        </div>

    

        <div class="form-group">
            <label for="xboxgames">Select games you are playing on XBox :</label>
            <div *ngFor="let xboxgame of xboxgames; let i = index">
                <label>
                    <input type="checkbox"
                           name="xboxgames"
                           value="{{xboxgame}}"
                           [checked]="xboxgames.indexOf(xboxgame) >= 0"
                           (change)="XboxgameStus(xboxgame,xboxgameStus,$event)"/>
                    {{xboxgame}}
                    
                </label>
            </div>
        </div>

    

        <div class="form-group">
            <label for="xb1games">Select games you are playing on XB1 :</label>
            <div *ngFor="let xb1game of xb1games; let i = index">
                <label>
                    <input type="checkbox"
                           name="xb1game"
                           value="{{xboxgame}}"
                           [checked]="xb1games.indexOf(xb1game) >= 0"
                           (change)="Xb1gameStus(xb1game,xb1gameStus,$event)"/>
                    {{xb1game}}
                    
                </label>
            </div>
        </div>
<hr>
    
   Select your game style for Destiny :
         <select class="form-control" #destinyplaystyle >
              <option *ngFor="let playstyle of playstyles" [value]="playstyle">{{playstyle}}</option>
        </select><br>
    
    Select your game style for Diablo3 :
         <select class="form-control" #diablo3playstyle >
              <option *ngFor="let playstyle of playstyles" [value]="playstyle">{{playstyle}}</option>
        </select><br>
    
        Select your game style for Left 4 Dead 2 :
         <select class="form-control" #left4dead2playstyle >
              <option *ngFor="let playstyle of playstyles" [value]="playstyle">{{playstyle}}</option>
        </select><br>
    
    Select your game style for World of Warcraft :
         <select class="form-control" #worldofwarcraftplaystyle >
              <option *ngFor="let playstyle of playstyles" [value]="playstyle">{{playstyle}}</option>
        </select><br>
    
    <hr>
    

        <div class="form-group">
            <label for="destinycharacters">Select characters you are playing in Destiny :</label>
            <div *ngFor="let destinycharacter of destinycharacters; let i = index">
                <label>
                    <input type="checkbox"
                           name="destinycharacter"
                           value="{{destinycharacter}}"
                           [checked]="destinycharacters.indexOf(destinycharacter) >= 0"
                           (change)=
                            "DestinycharacterStus(destinycharacter,destinycharacterStus,$event)"/>
                    {{destinycharacter}}
                    
                </label>
            </div>
        </div>
    
    
        <div class="form-group">
            <label for="diablo3characters">Select characters you are playing in Diablo 3 :</label>
            <div *ngFor="let diablo3character of diablo3characters; let i = index">
                <label>
                    <input type="checkbox"
                           name="diablo3character"
                           value="{{diablo3character}}"
                           [checked]="diablo3characters.indexOf(diablo3character) >= 0"
                           (change)=
                            "Diablo3characterStus(diablo3character,diablo3characterStus,$event)"/>
                    {{diablo3character}}
                    
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="left4dead2characters">Select characters you are playing in Left 4 Dead 2 :</label>
            <div *ngFor="let left4dead2character of left4dead2characters; let i = index">
                <label>
                    <input type="checkbox"
                           name="left4dead2character"
                           value="{{left4dead2character}}"
                           [checked]="left4dead2characters.indexOf(left4dead2character) >= 0"
                           (change)=
                            "Left4Dead2characterStus(left4dead2character,left4dead2characterStus,$event)"/>
                    {{left4dead2character}}
                    
                </label>
            </div>
        </div>
 
        <div class="form-group">
            <label for="worldofwarcraftcharacters">Select characters you are playing in World of Warcraft :</label>
            <div *ngFor="let worldofwarcraftcharacter of worldofwarcraftcharacters; let i = index">
                <label>
                    <input type="checkbox"
                           name="worldofwarcraftcharacter"
                           value="{{worldofwarcraftcharacter}}"
                           [checked]="worldofwarcraftcharacters.indexOf(worldofwarcraftcharacter) >= 0"
                           (change)=
                            "WorldofWarcraftcharacterStus(worldofwarcraftcharacter,worldofwarcraftcharacterStus,$event)"/>
                    {{worldofwarcraftcharacter}}
                    
                </label>
            </div>
        </div>

    <button type="button" class="btn btn-default" 
        (click)="sendProfile(age.value,
            idpc.value,idps3.value,idps4.value,idxbox.value, idxb1.value,
            playtimeWeekdays,  playtimeWeekends,timezoneWeekdays,timezoneWeekends,
            microphoneStus,pcgameStus,ps3gameStus,ps4gameStus,xboxgameStus,xb1gameStus,
            destinyplaystyle.value,diablo3playstyle.value,left4dead2playstyle.value,
            worldofwarcraftplaystyle.value,destinycharacterStus,diablo3characterStus,
            left4dead2characterStus,worldofwarcraftcharacterStus,imgUrl,loginService.email,playlistStus
            )">
            submit
    </button>

