<form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
    
    
    <label for="name">Email</label>
    <input type="text" placeholder="Enter your email" (ngModel)="email" name="email" class="txt" required>

    <label for="name">Password</label>
    <input type="password" placeholder="At least 6 characters" (ngModel)="password" name="password" class="txt" required>

    <button type="submit" [disabled]="!formData.valid" class="basic-btn">Create my account</button>
</form>
