<form (submit)="sendMessage(games.value, platforms.value, type.value, match.value, starttime.value, hours.value, min.value, newmessage.value, loginService.email )">
<div class="form-group">
   Select Game:
         <select class="form-control" #games >
              <option>Destiny</option>
              <option>Diablo 3</option>
              <option>Left 4 Dead 2</option>
              <option>World of Warcraft</option>
        </select><br>
    Select Platform:
         <select class="form-control" #platforms >
              <option>PC</option>
              <option>PS3</option>
              <option>PS4</option>
              <option>XBOX</option>
              <option>XB1</option>
        </select><br>
   Type of Team:
         <select class="form-control" #type >
              <option>One-Time</option>
              <option>Official</option>
        </select><br>
   Match or Event:
         <select class="form-control" #match >
              <option>Match</option>
              <option>Event</option>
        </select><br>
    Start Date and Time: 
          <input class="form-control" type="datetime-local" #starttime><br>
    Duration:
        <input class="form-control" type=numbers #hours>Hour(s) and <input class="form-control" type=numbers #min>Minute(s)<br>
    Description: 
        <input class="form-control" type="textarea" #newmessage placeholder="Please enter your contact information and a short description of your requirements"><br>
</div>
        <button type="submit">Post!</button>